<div class="modal fade" id="delivery_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title"><i class="fa fa-share"></i>&nbsp;Extraction Delivery</h4>
            </div>
            <div class="modal-body">
                <p>As a security measure, the extraction can only be sent to the <b>its Creator</b> and the file will be <b>zipped</b> with a password.
                </p>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="hidden" data-select-mode="ajax" data-select-type="ExtractionTemplate" id="delivery_extraction_template"
                                       data-placeholder="Select a template..." class="form-control row-margin ">
                            </div>
                            <div class="col-md-3">
                                <a class="btn btn-flat btn-default btn-sm" data-toggle="modal"
                                   data-target="#new_extraction_template_modal"><i class="fa fa-plus-circle"></i>&nbsp;NEW TEMPLATE
                                </a>
                            </div>
                        </div>
                        <blockquote>
                            <small id="delivery_error" class="text-danger" style="display: none;">Please select an Extraction Template</small>
                            <small>Email that will receave the Extraction: <b>{{ app.user.email }}</b></small>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-flat btn-primary" id="delivery_modal_send">
                    <i class="fa fa-envelope-o"></i>&nbsp;SEND&nbsp;
                    <i class="loading ion-loading-c" style="display: none;"></i>
                </button>
                <button data-dismiss="modal" class="btn btn-flat btn-default">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="new_extraction_template_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                            class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">
                    <i class="fa fa-plus"></i>&nbsp;New Extraction Template
                    <i class="ion-loading-c" style="display: none;"></i>
                </h4>
            </div>
            <div class="modal-body">
                <iframe src="{{ path('admin_listbroking_app_extractiontemplate_create', {iframe : 'true'}) }}" seamless frameBorder="0" width="100%" height="350px"></iframe>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-flat btn-default">CLOSE</button>
            </div>
        </div>
    </div>
</div>