<div class="box {% block box_classes %}{% endblock %} {% if collapsed is defined %}collapsed-box{% endif %}">
    <div class="box-header">
        <h3 class="box-title">
        {% block box_title %}{% endblock %}
        </h3>
        <div class="box-tools pull-right">
            {% block box_tools %}{% endblock %}
        </div>
    </div>
    <div class="box-body" {% if collapsed is defined %}style="display: none;"{% endif %}>
        <div class="alert alert-success" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <strong></strong>
        </div>
        {% block box_body %}{% endblock %}
    </div><!-- /.box-body -->
    <div class="box-footer" {% if collapsed is defined %}style="display: none;"{% endif %}>
        {% block box_footer %}{% endblock %}
    </div><!-- /.box-footer-->
</div>