{% form_theme forms.filters '@ListBrokingUI/_partials/forms/themes/filters_form_theme.html.twig' %}
{{ form_start(forms.filters) }}

{{ form_rest(forms.filters) }}

<button type="submit" class="btn btn-primary btn-flat">
    <i class="fa fa-share"></i>&#32;Continue
</button>
{{ form_end(forms.filters) }}