<div class="TODO">
    <h4><i class="fa fa-table"></i>&nbsp;Extraction Summary</h4>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Source</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>SOURCE-1</td>
            <td>0</td>
        </tr>
        <tr>
            <td>SOURCE-2</td>
            <td>0</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>-</th>
            <th class="text-success">99999</th>
        </tr>
        </tfoot>
    </table>
</div>
<small class="pull-right text-mute">Not implemented yet</small>
