<h4><i class="fa fa-table"></i>&nbsp;Extraction Summary</h4>
<table class="table table-condensed table-striped">
    <thead>
    <tr>
        <th>Source</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Adclick</td>
        <td>100</td>
    </tr>
    <tr>
        <td>Guy</td>
        <td>200</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th>-</th>
        <th class="text-success">300</th>
    </tr>
    </tfoot>
</table>