{% extends '@ListBrokingApp/base.html.twig' %}
{% block content %}
    <div class="row ">
        <div class="center-block">
            <div class="col-md-12">
                <div class="box box-danger" style="text-align: center">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <blockquote>
                            <i class="fa fa-6 fa-times" style="font-size: 6em;color: rgb(245, 105, 84);"></i>

                            <h3>Sorry, the server returned a "{{ status_code }} {{ status_text }}"</h3>
                            <br>
                            <small>Something is broken. Please let us know what you were doing when this error occurred.
                                We
                                will fix
                                it as soon as possible. Sorry for any inconvenience caused.
                            </small>

                            <br>

                            <div class="error-actions">
                                <a href="{{ path('sonata_admin_dashboard') }}" class="btn btn-primary btn-lg"><span
                                            class="glyphicon glyphicon-home"></span>
                                    Take Me Home
                                </a>
                                <a href="mailto:" class="btn btn-default btn-lg"><span
                                            class="glyphicon glyphicon-envelope"></span> Contact Support </a>

                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}