{% macro isActive(value) %}
    {% if(value) %}
        <span class="label label-success">Active</span>
    {% else %}
        <span class="label label-warning">Disabled</span>
    {% endif %}
{% endmacro %}


{% macro progress(value) %}
    {% if value == 0 %}
    <div class="progress xs">
        <div class="progress-bar progress-bar-danger" style="width: 20%"></div>
    </div>
    {% elseif value == 1 %}
        <div class="progress xs">
            <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
        </div>
    {% elseif value == 2 %}
        <div class="progress xs">
            <div class="progress-bar progress-bar-primary" style="width: 80%"></div>
        </div>
    {% elseif value == 3 %}
        <div class="progress xs">
            <div class="progress-bar progress-bar-success" style="width: 100%"></div>
        </div>
    {% endif %}

{% endmacro %}