.TODO{
    background-color: rgb(236, 236, 236);
    padding: 5px;
    opacity: 0.4;
}

.logo img{
    max-width: 100%;
}

.small_row {
    margin: -20px 0;
}

.closed{
    display: none;
}

.icon-large{
    font-size: 20px;
}

.loading > a, .loading > a:hover{
    color: rgb(114, 175, 210) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.row-margin{
    margin-bottom: 15px !important;
}

.alert{
    margin-left: 0;
}

.btn-link {
    box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

.box-body form {
    margin-bottom: 10px;
}

.help-block{
    font-size: 14px;
}

.popover-content label {
    font-size: 13px;
    padding-top: 6px;
}
.popover-content .input-sm{
    height: 22px;
    padding: 0;
}

.col-md-0 {
    width: 4.33333333%;
}

blockquote.small-label label{
    font-size: 14px;
}

.icon-huge {
    position: absolute;
    top: 40%;
    left: 43%;
    font-size: 150px;
    z-index: 9999;
    opacity: 0.5;
}