.blocked-input input, .blocked-input select{
    cursor: pointer;
}
.TODO{
    background-color: rgb(236, 236, 236);
    padding: 5px;
    opacity: 0.4;
}

.space{
    margin-top: 10px;
}

.bigger-space{
    margin-top: 30px;
}
.separator{
    margin-top: 0;
    margin-bottom: 0;
    border-top: 2px solid #eee;
}

.grey-bg{
    background-color: rgb(234, 234, 234);
}

.logo img{
    max-width: 100%;
}

.small_row {
    margin: -20px 0;
}

.closed{
    display: none;
}

.icon-large{
    font-size: 20px;
}

.loading > a, .loading > a:hover{
    color: rgb(114, 175, 210) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.row-margin{
    margin-bottom: 15px !important;
}

.alert{
    margin-left: 0;
}

.btn-link {
    box-shadow: none;
}

.box-body form {
    margin-bottom: 10px;
}

.help-block{
    font-size: 14px;
}

.popover-content label {
    font-size: 13px;
    padding-top: 6px;
}
.popover-content .input-sm{
    height: 22px;
    padding: 0;
}

.col-md-0 {
    width: 4.33333333%;
}

blockquote.small-label label{
    font-size: 14px;
}

.icon-huge {
    position: absolute;
    bottom: 16%;
    right: 50%;
    font-size: 120px;
    z-index: 2;
    opacity: 0.25;
}

.icon-small {
    position: absolute;
    bottom: 26%;
    right: 50%;
    font-size: 60px;
    z-index: 2;
    opacity: 0.25;
}

.skin-black .navbar .nav a.btn {
    color:white !important;
}
.navbar-btn{
    color:white !important;
}

.navbar-login
{
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.smaller-text
{
    font-size: 14px; !important;
}
.smaller-text ul
{
    font-size: 14px;
}

.modal{
    z-index: 1030;
}

.modal-backdrop{
    z-index: 1020;
}

body > .header {
    z-index: 1020;
}