<div class="form-group">
    <label for="client">Client</label>

    <div class="input-group select2-bootstrap-append">
        <input id="existing_client" type='hidden' name="client" class="form-control" data-select="ajax" data-child="#existing_campaign" data-placeholder="Clients list...">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat dropdown-toggle"
                    data-toggle="dropdown" disabled="disabled">Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-pencil-square-o"></i>&#32;Edit</a>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-times"></i>&#32;Delete</a></li>
            </ul>
        </span>
    </div>
</div>
<div class="form-group">
    <label for="client">Campaign</label>

    <div class="input-group select2-bootstrap-append">
        <input id="existing_campaign" type='hidden' name="campaign" class="form-control" data-select="ajax" data-child="#existing_extractions" data-placeholder="Campaigns list...">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat dropdown-toggle"
                    data-toggle="dropdown" disabled="disabled">Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-pencil-square-o"></i>&#32;Edit</a>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-times"></i>&#32;Delete</a></li>
            </ul>
        </span>
    </div>
</div>
<div class="form-group">
    <label for="client">Extraction</label>

    <div class="input-group select2-bootstrap-append">
        <input id="existing_extractions" type='hidden' name="extraction" class="form-control" data-select="ajax" data-placeholder="Extractions list...">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary btn-flat dropdown-toggle"
                    data-toggle="dropdown" disabled="disabled">Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-pencil-square-o"></i>&#32;Edit</a>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-times"></i>&#32;Delete</a></li>
            </ul>
        </span>
    </div>
</div>