<div class="row">
    {# NEW CLIENT BOX #}
    <div class="col-md-6">
        {% embed 'ListBrokingUIBundle:partials:generic_box.html.twig' %}
            {% block box_classes %}box-info{% endblock %}
            {% block box_title %}
                <i class="fa fa-wrench"></i>&nbsp;New Client
            {% endblock %}
            {% block box_body %}
                {% include '@ListBrokingUI/forms/new_client.html.twig' %}
            {% endblock %}
        {% endembed %}
    </div>

    {# NEW CAMPAIGN BOX #}
    <div class="col-md-6">
        {% embed 'ListBrokingUIBundle:partials:generic_box.html.twig' %}
            {% block box_classes %}box-info{% endblock %}
            {% block box_title %}
                <i class="fa fa-wrench"></i>&nbsp;New Campaign
            {% endblock %}
            {% block box_body %}
                {% include '@ListBrokingUI/forms/new_campaign.html.twig' %}
            {% endblock %}
            {% block box_footer %}
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fa fa-check"></i>&#32;Save
                </button>        {% endblock %}
        {% endembed %}
    </div>
</div>
<div class="row">
    {# NEW EXTRACTION BOX #}
    <div class="col-md-6">
        {% embed 'ListBrokingUIBundle:partials:generic_box.html.twig' %}
            {% block box_classes %}box-info{% endblock %}
            {% block box_title %}
                <i class="fa fa-wrench"></i>&nbsp;New Extraction
            {% endblock %}
            {% block box_body %}
                {% include '@ListBrokingUI/forms/new_extraction.html.twig' %}
            {% endblock %}
            {% block box_footer %}
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fa fa-check"></i>&#32;Save
                </button>
            {% endblock %}
        {% endembed %}
    </div>
</div>