.icon-large{
    font-size: 20px;
}

.loading > a, .loading > a:hover{
    color: rgb(114, 175, 210) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.row-margin{
    margin-bottom: 15px !important;
}

.alert{
    margin-left: 0;
}

.btn-link {
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
}

.box-body form {
    margin-bottom: 10px;
}

.help-block{
    font-size: 14px;
}

.popover-content label {
    font-size: 13px;
    padding-top: 6px;
}
.popover-content .input-sm{
    height: 22px;
    padding: 0px;
}

.col-md-0 {
    width: 4.33333333%;
}

blockquote.small-label label{
    font-size: 14.5px;
}