{% if admin.isGranted('EDIT', object) and admin.hasRoute('clone') %}
    <a href="{{ admin.generateObjectUrl('clone', object) }}" class="btn btn-sm btn-default clone_link"
       onclick="return !!confirm('Do you really want to duplicate this extraction?');" title="{{ 'action_clone'|trans }}">
        <i class="fa fa-files-o"></i>
        {{ 'action_clone'|trans }}
    </a>
{% endif %}