{% extends '@ListBrokingApp/base.html.twig' %}
{% block main_title %}Dashboard{% endblock %}
{% block sub_title %}Statistics{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-4 col-xs-7">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 data-bind="text: total"></h3>
                    <p>Total number of leads!</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-7">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3 data-bind="text: open"></h3>
                    <p>Usable leads</p>
                </div>
                <div class="icon">
                    <i class="ion ion-paper-airplane"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-7">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3 data-bind="text: lock"></h3>
                    <p>Locked Leads</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios7-locked"></i>
                </div>
                <a href="#" class="small-box-footer">
                    More info <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
    </div><!-- /.row -->
{% endblock %}