{% extends '@ListBrokingUI/base.html.twig' %}
{% block main_title %}Extraction{% endblock %}
{% block sub_title %}wizard{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
        {% embed '@ListBrokingUI/_partials/embeds/generic_box.html.twig' with {collapsed : true} %}
            {% block box_classes %}box-primary{% endblock %}
            {% block box_title %}
                <i class="fa fa-wrench"></i>&nbsp;Configure a new Extraction !
            {% endblock %}
            {% block box_tools %}
            {% endblock %}
            {% block box_body %}
                <div class="row row-margin">
                    <div class="col-md-8">
                        <div class="pull-left">
                            <div class="btn-group" data-toggle="btn-toggle">
                                <button type="button" class="btn btn-default active" data-toggle="on" id="existing_form_trigger">Existing Client/Campaign</button>
                                <button type="button" class="btn btn-default" data-toggle="off" id="new_form_trigger">New</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="existing_form">
                    <div class="col-md-6">
                        {% embed '@ListBrokingUI/_partials/embeds/generic_box.html.twig' %}
                            {% block box_classes %}box-info{% endblock %}
                            {% block box_body %}
                                {% include '@ListBrokingUI/Extraction/_configuration/existing_form.html.twig' %}
                            {% endblock %}
                        {% endembed %}
                     </div>
                 </div>
                <div class="row" id="new_form" style="display: none;">
                    <div class="col-md-12">
                        {% include '@ListBrokingUI/Extraction/_configuration/new_form.html.twig' %}
                    </div>
                </div>
            {% endblock %}
            {% block box_footer %}{% endblock %}
        {% endembed %}
        </div>
        <!-- /.col-xs-12 -->
    </div><!-- /.row -->
    {% embed '@ListBrokingUI/_partials/embeds/generic_modal.html.twig' with { modal_id : 'entity_creator'}%}
        {% block modal_title %}Create a new %%ENTITY%%{% endblock %}
        {% block modal_body %}{% endblock %}
        {% block modal_footer %}{% endblock %}
    {% endembed %}
{% endblock %}
