<div class="form-group">
    <label>Client</label>
    <input id="new_existing_client" type='hidden' name="client" class="form-control" data-select="ajax" data-child="#new_existing_campaign" data-placeholder="Clients list...">
    <!-- /.input group -->
</div>
<div class="form-group">
    <label>Campaign</label>
    <input id="new_existing_campaign" type='hidden' name="campaign" class="form-control" data-select="ajax" data-placeholder="Campaigns list...">
    <!-- /.input group -->
</div>
<div class="form-group">
    <label>Name</label>

    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-bookmark"></i>
        </div>
        <input type="text" class="form-control">
    </div>
    <!-- /.input group -->
</div>
<div class="form-group">
    <label>Description</label>

    <div class="input-group">
        <div class="input-group-addon">
            <i class="fa fa-list"></i>
        </div>
        <input type="text" class="form-control">
    </div>
    <!-- /.input group -->
</div>