<li class="dropdown">
    <a class="exceptions_menu dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-exclamation-triangle fa-fw text-danger"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu" role="menu" style="width: 1000px;">
        <li class="small_row row">
            <div class="col-md-12">
                &nbsp;<h4 class="text-danger"><i class="fa fa-exclamation-triangle fa-fw"></i>&nbsp;Exceptions</h4>
                <table id="exceptions_table" class="table table-hover table-condensed" width="100%" data-prototype="<tr style='display:none;'><td>%%code%%</td><td>%%msg%%</td><td
                class='col-md-3'>%%created_at%%</td></tr>">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Error</th>
                        <th>Created</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </li>
        <li style="margin:10px">
            <a href="{{ path('admin_listbroking_exceptionhandler_exceptionlog_list') }}" class="btn btn-primary">Show more</a>
        </li>
    </ul>
</li>