<li>
    <a class="extraction_log_menu dropdown-toggle" href="#">
        <i class="fa fa-paperclip text-info"></i> <i class="fa fa-caret-down"></i>
    </a>
</li>

<div class="panel panel-primary extraction_log_panel">
    <div class="panel-heading"><i class="fa fa-paperclip fa-fw"></i>&nbsp;Extraction Log
        <small>(real time logging)</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="extraction_log_list" class="col-md-12" data-prototype="<div class='log list-group'><div class='list-group-item'><h6 class='list-group-item-heading'>%%log%%</h6><small
            class='list-group-item-text'><b>created at:</b> %%created_at%%</small></div></div>">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><i class="fa fa-exclamation-triangle fa-fw"></i>
                    This block show the latest actions occurring on the background (server-side) for the current Extraction
                    <br>
                    <small style="margin-left: 23px">-Some actions may take some time, please report any action that takes more than 15 minutes</small>
                </p>
                <br>
            </div>
        </div>
    </div>
</div>
