<div id="extraction_log_panel" class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-paperclip fa-fw"></i>&nbsp;Extraction Log
        <small>(real time logging)</small>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="extraction_log_list" class="col-md-12" data-prototype="<div class='log list-group'><div class='list-group-item'><h6 class='list-group-item-heading'>%%log%%</h6><small
            class='list-group-item-text'><b>created at:</b> %%created_at%%</small></div></div>">
            </div>
        </div>
    </div>
</div>
